{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" class="login">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    <title>Login</title>
</head>

<body>
    <main>
        <div class="modal">
            <h1 class="modal-text">Enter your login<br>details below</h1>

            {% comment %} print form {% endcomment %}
            <form action="" method="POST" class="login-form">
                {% comment %} add Django security token {% endcomment %}
                {% csrf_token %}

                {% comment %} print form received from view {% endcomment %}
                <div class="form-group">
                    {% render_field form.username type="text" class="form-control" id="username" placeholder="Username" %}
                </div>
                <div class="form-group">
                    {% render_field form.password class="form-control" id="password" placeholder="Password" %}

                    {% if error_message %}
                    <p class="error-message">{{error_message}}</p>
                    {% endif %}
                </div>

                <button type="submit" class="relog-btn">Login <img src="{% static 'recipes/icons/login-box.svg' %}"
                        width="25"></button>
            </form>
        </div>
    </main>
</body>

</html>