:root {
  /* Base spacing scale */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 0.75rem; /* 12px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-xxl: 3rem; /* 48px */
  --spacing-xxxl: 4rem; /* 64px */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", serif;
  overflow-y: scroll;
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header,
.subheader {
  color: white;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 80px;
  background-color: black;
  padding: var(--spacing-sm) 0;
}

.landing-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.content {
  margin-bottom: var(--spacing-sm);
}

.site-footer {
  font-family: "Figtree", serif;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.view-recipes-btn {
  text-decoration: none;
  padding: 16px 24px;
  border: 2px solid black;
}

#recipe-list a {
  color: black;
  font-family: "Figtree", serif;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  padding: var(--spacing-lg);
}

table {
  width: 100%;
  max-width: 400px;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  padding: var(--spacing-sm);
}

.table-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  margin-bottom: var(--spacing-md);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
}
.table-item:hover {
  background-color: #f9f9f9;
}

table img {
  display: block;
  width: 100%;
  min-height: 177px;
  max-width: 150px;
  object-fit: cover;
  border-radius: 4px;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: rgba(87, 117, 144, 0.75);
}

tbody tr:nth-child(even) {
  background-color: rgba(87, 117, 144, 0.5);
}