{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    <title>JDEEBS' Recipes</title>
</head>

<body>
    <div class="site-header">
        <a href="{% url 'recipes:home' %}"><h1 class="header"><strong>JDEEBS'</strong> RECIPES</h1></a>
        <p class="subheader">We've only begun pre-heating!</p>
    </div>

    <div class="content">
        <img src="{% static 'recipes/images/chopping_ingredients.jpg' %}" alt="Ingredients on cutting board"
            class="landing-image">
    </div>

    <div class="site-footer">
        {% if user.is_authenticated %}
        <a href="{% url 'recipes:list' %}" class="view-recipes-btn">View Recipes</a>
        {% else %}
        <a href="{%url 'login' %}" class="login-btn">Login</a>
        {% endif %}
    </div>
</body>

</html>