{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    <title>Recipes</title>
</head>

<body>
    <h1>Recipe List</h1>

    {% comment %}
    Access records from model (object_list) one at a time using for loop
    {% endcomment %}

    <table>
        <tr class="table-header">
            <th>Recipe Titles</th>
            <th>Recipe Images</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
            <td><img src="{{object.pic.url}}" width="150" height="200" /></td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>