{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    <title>Recipes</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="site-header">
        <div class="logo-wrapper">
            <a href="{% url 'recipes:home' %}">
                <h1 class="header"><strong>JDEEBS'</strong> RECIPES</h1>
            </a>
            <p class="subheader">We've only begun pre-heating!</p>
        </div>
        <a href="{%url 'logout' %}" class="logout-btn"> Logout <img src="{% static 'recipes/icons/logout-box.svg' %}" width="25"></a>
    </nav>
    </div>
    </header>

    {% comment %}
    Access records from model (object_list) one at a time using for loop
    {% endcomment %}

    <section id="recipe-list">
        <div class="table-wrapper">
            <table>
                {% for object in object_list %}
                <tr class="table-item">
                    <td>
                        <a href="{{ object.get_absolute_url }}">
                            {{ object.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ object.get_absolute_url }}">
                            <img src="{{ object.pic.url }}" alt="{{ object.description }}" class="recipe-thumbnail" />
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>


</body>

</html>